# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc

#Ipython Notebook
.ipynb_checkpoints
!add-fuzzy-dates.ipynb

#migrations
/db.sqlite3
/labasi/settings/pandorfer_local.py
/labasi/settings/local.py
/labasi/settings/server.py
/labasi/settings/ksenia_server.py
/playAndTry.ipynb
/labasi/db.sqlite3
staticfiles
/Untitled.ipynb
local.py
venv/
secret.env
nohup.out
hansi.txt
env.secret
hansi.json
